In [18]:
#======LIST======

empty_list = []
first_quarter_months = ["january", "february", "march"]
last_five_years = [2016, 2017, 2018, 2019, 2020]
list_mix = [1000, 3.14, "bitlabs", True, -9, 7+2j, -1.]
first_quarter_months.append("april")

print(empty_list, type ([empty_list]))
print(first_quarter_months, type)
print(last_five_years)
print(list_mix, type)

print(first_quarter_months)

print([], type ([]))
print([1, 1, 2, 3, 4], type ([1, 1, 2, 3, 4]))

[] <class 'list'>
['january', 'february', 'march', 'april'] <class 'type'>
[2016, 2017, 2018, 2019, 2020]
[1000, 3.14, 'bitlabs', True, -9, (7+2j), -1.0] <class 'type'>
['january', 'february', 'march', 'april']
[] <class 'list'>
[1, 1, 2, 3, 4] <class 'list'>

In [26]:
print("lenght of empty_list var:", len(empty_list), empty_list)
print("lenght of first_quarter_months var:", len(first_quarter_months), first_quarter_months)

lenght of empty_list var: 0 []
lenght of first_quarter_months var: 4 ['january', 'february', 'march', 'april']

In [24]:
print(list())
print(list("bitlabs"))

[]
['b', 'i', 't', 'l', 'a', 'b', 's']

In [4]:
less_than_ten = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print("numbers less than ten:", less_than_ten)

reverse_less_than_ten = sorted(less_than_ten, reverse=True)
print("descending order:", reverse_less_than_ten)

less_than_ten_2 = ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9"]
bit = "bit"
text_less_than_ten_2 = bit.join(less_than_ten_2)
print(text_less_than_ten_2)

numbers less than ten: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
descending order: [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
0bit1bit2bit3bit4bit5bit6bit7bit8bit9

In [36]:
# indexing dan slicing
names = ["john", "andrew", "sebastian", "Josh"]
n_names = len (names)

print("names [0]", names [0])
print("names [1]", names [1])
print("names [2]", names [2])
print("names [3]", names [3])
print()
print("names [-4]", names [-4])
print("names [-3]", names [-3])
print("names [-2]", names [-2])
print("names [-1]", names [-1])
print()
print (n_names)
print()


print ("first_name:", names[0], names[-n_names])
print ("first_name:", names[n_names-1], names[-1])

names [0] john
names [1] andrew
names [2] sebastian
names [3] Josh

names [-4] john
names [-3] andrew
names [-2] sebastian
names [-1] Josh

4

first_name: john john
first_name: Josh Josh

In [42]:
print (names[0:3])
print (names[1:2])
print (names[-3:-1])

['john', 'andrew', 'sebastian']
['andrew']
['andrew', 'sebastian']

In [10]:
random_dates = ['June 21, 2001', 'December 4, 2002', 'August 23, 2003', 
                'March 29, 2004', 'August 1, 2005', 'July 22, 2006',
                'July 11, 2007', 'November 13, 2008', 'March 20, 2009', 
                'March 9, 2010']
print(random_dates)
print()
even_dates = random_dates[1::2]
print(even_dates)
odd_dates = random_dates[0::2]
print(odd_dates)

['June 21, 2001', 'December 4, 2002', 'August 23, 2003', 'March 29, 2004', 'August 1, 2005', 'July 22, 2006', 'July 11, 2007', 'November 13, 2008', 'March 20, 2009', 'March 9, 2010']

['December 4, 2002', 'March 29, 2004', 'July 22, 2006', 'November 13, 2008', 'March 9, 2010']
['June 21, 2001', 'August 23, 2003', 'August 1, 2005', 'July 11, 2007', 'March 20, 2009']

In [30]:
# ========Tuple=======


empty_tuple = ()
ceo = ("mark", "elon")
first_ceo, second_ceo = ceo
print(first_ceo)
print(second_ceo)

print("ceo [0]", ceo [0])

same_ceo = "mark", "elon"
print (ceo, type (ceo))
print (same_ceo, type (same_ceo))

bootcamp = "",
str_bootcamp = "bitlabs"
print(bootcamp, type (bootcamp))
print(str_bootcamp, type (str_bootcamp))

mark
elon
ceo [0] mark
('mark', 'elon') <class 'tuple'>
('mark', 'elon') <class 'tuple'>
('',) <class 'tuple'>
bitlabs <class 'str'>

In [20]:
tuple_of_names = ["john", "anderson"], ["josh", "andrew"]
print(tuple_of_names)

list_of_names = [["john", "anderson"], ["josh", "andrew"]]
print(list_of_names)

(['john', 'anderson'], ['josh', 'andrew'])
[['john', 'anderson'], ['josh', 'andrew']]

In [34]:
location = -6.91589099, 107.62285863
print(location)
print ("location [0]", location [0])

longitude, latitude = location
print(longitude, latitude)

(-6.91589099, 107.62285863)
location [0] -6.91589099
-6.91589099 107.62285863

In [38]:
first_quarter_months = ['january', "february", "march"]
print(first_quarter_months, type (first_quarter_months))
print(tuple(first_quarter_months), type (tuple(first_quarter_months)))
print(tuple("bitlabs"))

['january', 'february', 'march'] <class 'list'>
('january', 'february', 'march') <class 'tuple'>
('b', 'i', 't', 'l', 'a', 'b', 's')

In [42]:
list_ceo = list(ceo)
print(list_ceo)
list_ceo[0] = "william"
print(list_ceo)

['mark', 'elon']
['william', 'elon']

In [43]:
ceo.count("elon"), ceo.index("elon")

(1, 1)

In [44]:
# =======set=======

set_is_unique = {1, 2, 3, 4, 5, 1, 2}
string_in_set = {"Bob", "Michael", "Kevin", "Stuart", "Bob", "Stuart", "kevin"}

print(set_is_unique, type (set_is_unique))
print(string_in_set, type (string_in_set))

{1, 2, 3, 4, 5} <class 'set'>
{'kevin', 'Michael', 'Kevin', 'Stuart', 'Bob'} <class 'set'>

In [47]:
empty_set = set()
purchased_history = ["batman", "robin", "iron man", "robin", "captain america",
                     "iron man", "iron man", "superman", "batman", "superman"]
unique_purchased = set(purchased_history)

print(purchased_history)
print(unique_purchased)

['batman', 'robin', 'iron man', 'robin', 'captain america', 'iron man', 'iron man', 'superman', 'batman', 'superman']
{'captain america', 'batman', 'iron man', 'superman', 'robin'}

In [10]:
male_names = {"Eric", "Tom", "Adam", "Lee"}
female_names = {"Sue", "Mary", "Kate", "Lee"}
print("male names", male_names)
print("female names", female_names)

only_males = male_names.difference(female_names)
only_female = female_names.difference(male_names)

print(only_males)
print(only_female)

all_names = female_names.union(male_names)
print(all_names)

female_male_names = female_names.intersection(male_names)
print (female_male_names)

male names {'Adam', 'Tom', 'Eric', 'Lee'}
female names {'Sue', 'Mary', 'Lee', 'Kate'}
{'Adam', 'Tom', 'Eric'}
{'Sue', 'Mary', 'Kate'}
{'Mary', 'Lee', 'Adam', 'Sue', 'Tom', 'Eric', 'Kate'}
{'Lee'}

In [8]:
empty_set = set()
purchased_history = ["batman", "robin", "iron man", "robin", "captain america",
                     "iron man", "iron man", "superman", "batman", "superman"]
unique_purchased = set(purchased_history)
print(purchased_history)
print(unique_purchased)

['batman', 'robin', 'iron man', 'robin', 'captain america', 'iron man', 'iron man', 'superman', 'batman', 'superman']
{'iron man', 'captain america', 'robin', 'batman', 'superman'}

In [12]:
print (female_names - male_names)
print (male_names - female_names)

{'Sue', 'Mary', 'Kate'}
{'Adam', 'Tom', 'Eric'}